html {
    text-align: center;
    font-family: Montserrat, sans-serif;
    background-color: #1c1c1c;
}
body{
    margin: 0 auto;
}
body#index{
  width: 50%;
  max-width: 500pt;
}
body#instructions{
  width: 60%;
  min-width: 400pt;
  max-width: 800pt;
}
#index img {
    width: 100%;
    margin-top: 10%;
}

a {
    display: inline-block;
    padding: 3px 10px 8px 10px;
    font-size: 40pt;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    border-radius: 10px;
    background-color: white;
    animation: button .8s;
}
a#play:hover h1{
  color:#1c1c1c;
}
span {
    animation: recolor 4s infinite;
}

a:hover span{
    color: #1c1c1c;
    animation: none;
}

@keyframes recolor {
    0% {
        color: #334B99
    }

    25% {
        color: #FF3333
    }

    50% {
        color: #FFD000
    }

    100% {
        color: #334B99
    }
}

@keyframes button {
    from {
        background-color: #00000000;
    }

    to {
        background-color: white;
    }
}

#instructions img {
    width: 30%;
    margin-top: 20pt;
}

h1, ul, h2, p {
color: white;
}

ul {
text-align: left;

}
h1{
font-size: 26pt;
}
li , p{
margin: 20px 0 20px 0;
font-size: 16pt;
font-weight: 400;
}
a#play{
display: block;
margin: 0 auto;
width: 100pt;
text-decoration: none;
}
