html{
  background-color: #adadad;
}
.correct{
  background-color: #adadad;
  animation: greenbg 2s;
}
.incorrect{
  background-color: #adadad;
  animation: redbg 2s;
}
@keyframes redbg {
  from  {background-color: red}
  to    {background-color: #adadad}
}
@keyframes greenbg {
  from  {background-color: green}
  to    {background-color: #adadad}
}
#cards{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  max-width: 900px;
}

.st0{fill:#FFFFFF;stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
.st1{stroke-width:12;stroke-miterlimit:10;}
.yellow .st1{stroke:#EAAE06;}
.purple .st1{stroke:#961877;}
.blue .st1{stroke:#04827E;}

.selected .st0{fill:#b8c3d6}

.yellow.solid .st1{fill:#EAAE06;}
.purple.solid .st1{fill:#961877;}
.blue.solid .st1{fill:#04827E;}

.empty .st1{fill:#00000000;}

.dotted .st1{fill:url(#circles-6)}

svg{
  width: 22%;
  padding: 1%;
  margin: 0;
}
svg:hover{
  width: 20%;
  padding:2%;
  animation: a .1s;
}
@keyframes a {
  from{
    width: 22%;
    padding: 1%;
  }
  to{
    width: 20%;
    padding:2%;
  }
}
